<img style="border: 0" alt="x.com icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjQ4IiBoZWlnaHQ9IjQ4IiBmaWxsPSIjMDAwMDAwIi8+CjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDksOSkgc2NhbGUoMS4yNSwxLjI1KSI+CjxwYXRoIGQ9Ik0yMS43NDIgMjEuNzVsLTcuNTYzLTExLjE3OSA3LjA1Ni04LjMyMWgtMi40NTZsLTUuNjkxIDYuNzE0LTQuNTQtNi43MTRIMC4zNTlsNy4yOSAxMC43NzZMMi4yNSAyMS43NWgyLjQ1Nmw2LjAzNS03LjExOCA0LjgxOCA3LjExOGg2LjE5MS0uMDA4ek03LjczOSAzLjgxOEwxOC44MSAyMC4xODJoLTIuNDQ3TDUuMjkgMy44MThoMi40NDd6IiBmaWxsPSJ3aGl0ZSIvPgo8L2c+Cjwvc3ZnPgo=">