<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Email Signature</title>
    <meta content="text/html; charset=unicode" http-equiv="Content-Type">
    {% include 'styles.njk' %}
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>