<!-- Webstack Builders Logo as HTML Table -->
<table align="center" cellpadding="0" cellspacing="0" role="presentation" style="width:88px;height:85px;background-color:white;border:0;">
  <tr>
    <td style="height:29px;">
      <!-- Top Row: 3 dark blue blocks with gaps -->
      <table cellpadding="0" cellspacing="0" role="presentation" style="width:100%;height:100%;background-color:white;border:0;">
        <tr>
          <td style="width:18px;height:29px;background-color:#001A39;"></td>
          <td style="width:6px;height:29px;background-color:white;"></td>
          <td style="width:40px;height:29px;background-color:#001A39;"></td>
          <td style="width:6px;height:29px;background-color:white;"></td>
          <td style="width:18px;height:29px;background-color:#001A39;"></td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Gap Row -->
  <tr>
    <td style="height:5px;background-color:white;line-height:5px;font-size:5px;">&nbsp;</td>
  </tr>
  <tr>
    <td style="height:17px;">
      <!-- Middle Row: 2 light blue blocks with center gap -->
      <table cellpadding="0" cellspacing="0" role="presentation" style="width:100%;height:100%;background-color:white;border:0;">
        <tr>
          <td style="width:41px;height:17px;background-color:#006DCA;"></td>
          <td style="width:6px;height:17px;background-color:white;"></td>
          <td style="width:41px;height:17px;background-color:#006DCA;"></td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Gap Row -->
  <tr>
    <td style="height:5px;background-color:white;line-height:5px;font-size:5px;">&nbsp;</td>
  </tr>
  <tr>
    <td style="height:29px;">
      <!-- Bottom Row: 3 dark blue blocks with gaps -->
      <table cellpadding="0" cellspacing="0" role="presentation" style="width:100%;height:100%;background-color:white;border:0;">
        <tr>
          <td style="width:18px;height:29px;background-color:#001A39;"></td>
          <td style="width:6px;height:29px;background-color:white;"></td>
          <td style="width:40px;height:29px;background-color:#001A39;"></td>
          <td style="width:6px;height:29px;background-color:white;"></td>
          <td style="width:18px;height:29px;background-color:#001A39;"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
