<a href="{{ user.linkedinLink }}" style="text-decoration:none">
  {% include 'images/linkedin-icon.njk' %}
</a>&nbsp;
<a href="{{ user.twitterLink }}" style="text-decoration:none">
  {% include 'images/x.njk' %}
</a>&nbsp;
<a href="{{ user.mastodonLink }}" style="text-decoration:none">
  {% include 'images/mastodon-icon.njk' %}
</a>&nbsp;
<a href="{{ user.blueskyLink }}" style="text-decoration:none">
  {% include 'images/bluesky-icon.njk' %}
</a>&nbsp;
<a href="{{ user.githubLink }}" style="text-decoration:none">
  {% include 'images/github-icon.njk' %}
</a>&nbsp;