<a href="{{ user.linkedinLink }}" style="text-decoration:none">
  {% include 'images/linkedin-icon.njk' %}
</a>&nbsp;
<a href="{{ user.twitterLink }}" style="text-decoration:none">
  {% include 'images/twitter-icon.njk' %}
</a>&nbsp;
<a href="{{ user.facebookLink }}" style="text-decoration:none">
  {% include 'images/facebook-icon.njk' %}
</a>&nbsp;
<a href="{{ user.githubLink }}" style="text-decoration:none">
  {% include 'images/github-icon.njk' %}
</a>&nbsp;