{%- for platform, url in user.socialLinks -%}
<a href="{{ url }}" style="text-decoration:none">
  <img style="border: 0" alt="{{ images[platform].alt }}" src="{{ images[platform].dataUri }}">
</a>&nbsp;
{%- endfor -%}